

.header {
    height: 95vh; 
    background-image:linear-gradient(rgba($color-black, 0.72),rgba($color-black, 0.78)),url(../images/header.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0 0 , 100% 0 , 100% 80vh , 0 100%);   
       
   
   
    &-box {
       
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       text-align: center;
       color: $color-white;
   }
   
   
   
   
   &-title {
       text-transform: uppercase;
       margin-bottom: 4rem;
       
   }
   
   
   }





