


.navigation {


    &__input {
        display: none;


    } 


   

    &__lable {
        height: 7rem;   
        width: 7rem;
        border-radius: 50%;
        background-image: $color-white;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        text-align: center;
        box-shadow: 0 1rem 2rem rgba($color-white,.1);
     
        @include query(tab-port) {

            top: 4rem;
            right: 4rem;
        }
  
        @include query(phone) {
            top: 3rem;
            right: 3rem;
        }
    }


     
    &__background {
     height: 6rem;   
     width: 6rem;
     border-radius: 50%;
     background-image:radial-gradient($color-gray-dark,$color-black);
     position: fixed;
     top: 6.5rem;
     right: 6.5rem;
     z-index: 1000;
     transition: all .5s;

    @include query(tab-port) {
        top: 4.5rem;
        right: 4.5rem;
    }

    @include query(phone) {
        top: 3.5rem;
        right: 3.5rem;
    }
    }


    &__nav {

        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transition: all .5s;
    }

    &__list {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;

    }

    &__item {

        margin: 2rem;
    }

    &__link {

        &:link,
        &:visited {

        
        font-size: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        color: $color-white;
        background-image: linear-gradient(120deg,transparent 0%, transparent 50%,$color-white 50%);
        background-size: 250%;
        transition: all .5s;    
        display: inline-block;
        }

        &:active,
        &:hover {
            background-position: 100%;
            color: $color-blue-dark;
            transform: translateY(-5px);
        } 
    }

    &__input:checked ~ &__background {
        transform: scale(80);
    }

    &__input:checked ~ &__nav {
       
        opacity: 1;
        width: 100%;
    }

 
    &__icon {

        position: relative;
        margin-top: 3.5rem;
        transition: all .5s;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: red;
            display: inline-block;
        }

        &::before,
        &::after {

            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }

    }

    &__input:checked + &__lable &__icon {
        background-color: transparent;
        
    }

    &__input:checked + &__lable &__icon::before {
         top: 0;
         transform: rotate(45deg);
    }

    &__input:checked + &__lable &__icon::after {
        top: 0;
        transform: rotate(-45deg);
    }

}

