
// define some variables for the colors
$color-white: #fff;
$color-black: #000;
$color-gray: #555;
$color-gray-dark: rgb(28, 35, 59);
$color-green: green;
$color-gray-light: #eee;
$color-orange-light: rgb(245, 158, 45);
$color-orange-dark: rgb(245, 158, 5);
$color-blue-light : rgb(73, 75, 190);
$color-blue-dark : rgb(10, 12, 155);

$color-red-light : rgb(247, 76, 99);
$color-red-dark : rgb(163, 3, 11);

// define some vars for grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizantil: 4rem;
