.app--section {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  
    & > div:not(:last-of-type) {
        margin-right: 4rem;
    }

}

.apps-box {

    width: 30%;
    font-size: 1.3rem;
    color: $color-white;
    text-align: center;
    background: rgba($color-black, .6);
    padding: 4rem;
    height: 100%;
    border-radius: 1rem;



    P {
        line-height: 1.6;
        word-spacing: 2px;
        font-size: 1.4rem;
    }

    &__img {
        
        clip-path: circle(50% at 50% 50%);
        transform: scale(.4);
    }


    .app__content {
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
    }

    &:hover .app__content {

    
        visibility: visible;
        opacity: 1;
    }

    &:hover {
        background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));

    }
    

}


.app--one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.788)), url(../images/screen_two.png);
    background-size: cover;
    background-position: center;
}


.app--two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.788)), url(../images/screen_shot.png);
    background-size: cover;
}


