// style the box card
// some card parent proprties
.card {
    perspective: 150rem;
    position: relative;
    height: 50rem;
    
    

    // style both the back and the front cards
    &__side {
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;  
    border-radius: 4px;
    box-shadow: 0 1rem 2rem $color-black;  
    overflow: hidden;

    //  style the front face   
    &--front {
        background-color: $color-white;
    }

    //  style the back face  
    &--back {
        transform: rotateY(180deg);
        
        &-1 {
            background-image: linear-gradient( to right bottom, $color-red-light,$color-red-dark);
        }

        &-2 {
            background-image: linear-gradient( to right bottom, $color-orange-light,$color-orange-dark);
        }

        &-3 {
            background-image: linear-gradient( to right bottom, $color-blue-light,$color-blue-dark);
        }
    }

    }

    // style the hover state for the front face
    &:hover &__side--front {

        transform: rotateY(-180deg);
    }

    // style the hover state for the back face
    &:hover &__side--back {

        transform: rotateY(0);
    }




    &__picture {
        background-size: cover;
        height: 22rem;
        background-blend-mode: screen;
        clip-path: polygon( 0 0 , 100% 0 , 100% 80%, 0 100%);
        

        &-1 {

            background-image:linear-gradient(to right bottom,$color-black, $color-gray-dark),
            url(../images/reaCTCOURSE.png); 
   
        }

        
        &-2 {

            background-image:linear-gradient(to right bottom,$color-black, $color-gray-dark),
            url(../images/firstcourse.png); 
   
        }

        
        &-3 {

            background-image:linear-gradient(to right bottom,$color-blue-light, $color-blue-dark),
            url(../images/courseecond.png); 
   
        }
    }


    &__title {

        font-size: 2.4rem;
        color:$color-white;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 13rem;
        right: 2rem;
        text-align: right;
        width: 75%;
       


    }

    &__title-span {
        padding: 1rem 1.5rem;
       -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-1 {
            background-image:linear-gradient(to right bottom,rgba($color-black,.8), rgba($color-gray-dark,.8));
        }

        &-2 {
            background-image:linear-gradient(to right bottom,rgba($color-black,.8), rgba($color-gray-dark,.8));
        }

        &-3 {
            background-image:linear-gradient(to right bottom,rgba($color-black,.8), rgba($color-gray-dark,.8));
        }
    }




    &__desc {
        color: $color-gray;
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {

                font-size: 1.5rem;
                text-align: center;
                padding: 1rem;

                &:not(:last-child) {

                    border-bottom: 1px solid $color-gray-light;
                }
            }
        }
    }


    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;


        &-text {
            text-align: center;
            margin-bottom: 8rem;
            color: $color-white;


        }

        &-only {

            font-size: 1.6rem;
            text-transform: uppercase;
        }

        &-price {

            font-size: 6rem;

        }
    }


    @include query(tab-port) {


    

            }
}