
.feature-box {
    font-size: 1.5rem;
    padding: 2.5rem;
    background: rgba($color-white, .8);
    text-align: center;
    border-radius: 3px;
    box-shadow: .5rem .5rem 1rem rgba($color-gray, .5);
    transition: all .5s;

    @include query(tab-port) {

     padding: 2rem;

    }
    

    

    &__icon {

        font-size: 6rem;
        display: inline-block;
        margin-bottom: 2rem;
        color: $color-white;
    }

   

    &:hover {
        transform: translateY(.5rem) scale(1.05);
    }

}