
.story {
    width: 75%;
    background-color:rgba($color-white,.3);
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    border-radius: 3px;
    color: $color-black;
    font-size: 1.6rem;
    // clip-path: polygon( 7% 0 , 100% 0 , 94% 100%, 0 100%);
    box-shadow: 0 3rem 4rem rgba($color-black, .50);
    transform: skewX(-12deg);


    @include query(tab-port) {

        width: 100%;
        padding: 3rem;
        padding-left: 6rem;
    }

    @include query(phone) {

       transform: skewX(0);
    }

    &__shape {

        width: 15rem;
        height: 15rem;
        background-color: $color-blue-light;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem)  skewX(12deg);
        position: relative;


        
    @include query(phone) {

        transform: translateX(-3rem)  skewX(0);
     }
    }


    &__img {
        height: 100%;
        transform: translate(-4rem) scale(1.3);
        transition: all .5s; 
       
    }
    
    &__text {

    transform: skewX(12deg);
    @include query(phone) {

        transform: translateX(-3rem)  skewX(0);
     }
    }

    &__caption {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        color: $color-white;
        font-size: 1.7rem;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .6s;
        backface-visibility: hidden;
    }


    &:hover &__caption {

        transform: translate(-50%,-50%);
        opacity: 1;
    }

    &:hover &__img {
        transform: translate(-4rem) scale(1);
        filter: blur(3px) brightness(85%);    
    }
}