
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    
    font-size: 60%;

    @include query(tap-land) {
        font-size: 56.25%;
    }


    @include query(tap-port) {
        font-size: 50%;
    }


  
    @include query(big-desktop) {
        font-size: 75%;
    }


}


body {
    box-sizing: border-box;
    padding: 3rem;

    @include query(tab-port) {
       padding: 0;
    }

}