.utilties-center {
    text-align: center;
}
.u-margin-bottom-big {margin-bottom: 8rem;

    @include query(tab-port) {

            margin-bottom: 6rem;
        }
    
}

.u-margin-bottom-small {margin-bottom: 2rem;}
.u-margin-bottom-medum {margin-bottom: 4rem;}

.u-margin-top-medum {margin-top: 2rem;}

.u-margin-top-big {margin-top: 8rem;

    @include query(tab-port) {

        margin-top: 6rem;
    }
}
