.about-section {
    background-image: linear-gradient(to right bottom, $color-gray-dark,$color-black);
    padding: 20rem 0;
    margin-top: -15vh;

    @include query(tab-port) {

      padding: 15rem 0;     
    }
  
}

.feature-section {

    background-image:linear-gradient(rgba($color-black, 0.72),rgba($color-black, 0.78)),url(../images/about_two.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0 10% , 100% 0 , 100% 90% , 0 100%);   
    padding: 20rem 0;
    margin-top: -15rem;

    @include query(tab-port) {

        padding: 15rem 0;     
        }
    
}


.cards-section {
    background-image: linear-gradient(to right bottom, $color-gray-dark,$color-black);
    padding: 20rem 0;
    margin-top: -15rem;
    clip-path: polygon(0 10% , 100% 0 , 100% 100% , 0 100%);  


    @include query(tab-port) {

        padding: 15rem 0;     
      }
    
    
}


.apps-section {

    padding: 20rem 0;
    background-image:linear-gradient(rgba($color-black,.8),rgba($color-black,.8)), url(../images/about_two.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: -15rem;
    
}


.github-section {
    padding: 25rem 0;
    background-image: linear-gradient($color-black,$color-gray-dark);
   
}

.stories-section {
    padding:  10rem 0;
    position: relative;
    // overflow: hidden;

    @include query(tab-port) {

        padding: 5rem 0;     
      }
    

}

.contact-section {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, $color-gray-dark,$color-black);

    @include query(tab-port) {

        padding: 15rem 0;     
      }
    

}

.contact {

    background-image:linear-gradient(105deg,rgba($color-white, .5 ) 0%,rgba($color-white, .5 ) 50%,transparent 50%),
     url(../images/image-girrl.jpeg);
    background-size: cover;
    background-position: top;
    box-shadow: 0 1rem 2rem rgba($color-white,.5);
    border-radius: 5px;


    @include query(tab-land) {

        background-image:linear-gradient(105deg,rgba($color-white, .5 ) 0%,rgba($color-white, .5 ) 30%,transparent 30%),
        url(../../images/image-girrl.jpeg);
       
    }

    @include query(tab-port) {

        background-image:linear-gradient(to bottom,rgba($color-white, .5 ) 0%,rgba($color-white, .5 ) 100%),
        url(../../images/image-girrl.jpeg);
       
    }


    &__form {
        width: 50%;
        padding: 4rem;

        @include query(tab-land) {

            width: 50%;
        }

        @include query(tab-port) {

            width: 100%;
        }
    }


 
}


